/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.card-img-top {
  width: 50%;
  height: 8vw;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.card{
    border: none !important;
}

.card-img img {
  padding-top: 10px;
  width: inherit;
  height: 180px;
  object-fit: contain;
  display: block
}
