<section>
  <img src="assets/Banner Photo.jpg" class="img-fluid" alt="Responsive image" width="100%">
</section>
<section>
  <div class="row">
    <div class="col-6">
      <h1>FRESH FOOD FOR A FRESHER YOU</h1>
      <h3>Quality food, quality life.</h3>
    </div>
    <div class="col-6">
      <img src="assets/screen2/Side image.png" class="img-fluid" alt="Responsive image" width="100%" />
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card center" style="height: 18rem;">
        <img class="card-img-top" src="assets/screen2/clock.png" alt="clock">
        <div class="card-body text-center">
          <h3>Online anywhere</h3>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="height: 18rem;">
        <img class="card-img-top" src="assets/screen2/delivery-truck.png" alt="truck">
        <div class="card-body text-center">
          <h3>Fast Delivery</h3>
        </div>
      </div>
    </div>
    <div class="col-4 ">
      <div class="card" style="height: 18rem;">
        <img class="card-img-top" src="assets/screen2/support.png" alt="support">
        <div class="card-body text-center">
          <h3>24/7 Support</h3>
        </div>
      </div>
    </div>
  </div>
</section>
